<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5">
                <br>
                <p>University | Ahmedabad, Gujarat<br>Near sarkhej Road, Ahmedabad</p>
                <p></p>
            </div>
            <div class="col-sm-7 footer-social">
                <i class="fab fa-facebook" aria-hidden="true"></i> |
                <i class="far fa-envelope"></i> |
                <i class="fab fa-twitter"></i>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>© COPYRIGHT: University 2018 LAST UPDATED: 30 MAY 2018</p>
            </div>
        </div>
    </div>
</footer>