<div class="container-fluid about">
    <br>
    <h3>Festivals</h3>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img class="img-responsive card-img-top festival-image" src="image/navratri.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Navratri</h5>
                    <p class="card-text">Navaratri also spelled Navratri or Navarathri, is a nine nights (and ten days)
                        Hindu festival, celebrated in the autumn every year.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="img-responsive card-img-top festival-image" src="image/diwali.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Diwali</h5>
                    <p class="card-text">Diwali or Deepavali is the Hindu festival of lights celebrated every year in
                        autumn in the northern hemisphere (spring in southern hemisphere). </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="img-responsive card-img-top festival-image" src="image/traditional.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Traditional Day</h5>
                    <p class="card-text">Traditional Day was held on the 18th of January 2017 at the college. It was an
                        eventful day. It was observed as a celebration of India’s diverse culture.</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img class="img-responsive card-img-top festival-image" src="image/annualday.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Annual Day</h5>
                    <p class="card-text">Annual Day was held on the 18th of February 2017 at the college. It was an
                        eventful day. It was observed as a Last day of year, and student enjoyed last day.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="img-responsive card-img-top festival-image" src="image/Halloween.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Halloween</h5>
                    <p class="card-text">the night of 31 October, the eve of All Saints' Day, often celebrated by
                        children dressing up in frightening masks and costumes.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">

        </div>
    </div>
    <br>
</div>